

#QToolBar {
	background-color: #232323;
	border: none;
	padding: 5px;
}


#QPushButton {
    background-color: #444444;
    color: rgb(200, 200, 200);
    border: 0px solid rgb(75, 75, 75);
    border-radius: 0px;
    font-size: 16px;
    padding: 0px 8px 0px 8px;
    min-height: 22px;
}

QPushButton::hover {
 /*   background-color: #64b4e8; */
    background-color: #AAAAAA;

}

QToolButton:hover {
    background-color: #808080;
}

QToolButton:enabled {
    color:blue;
}

QLineEdit {

       /* border: 1px solid rgb(0, 0, 0);*/
        border-radius: 3px;

}

QToolTip {
        background-color: #ffA54F;
        border: 2px solid green;
        border-radius: 4px;
        padding: 2px;

}